.headerDiv {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burgermenu {
    height: 24px;
    width: 24px;
}

.leftSection {
    display: flex;
    flex-direction: column;
    overflow-x: visible;
    flex-grow: 1;
}

.leftSectionHeader {
    display: flex;
    gap: 16px;
    overflow-x: visible;
    flex-direction: column;
}

.h1Header {
    padding-left: 12px;
}

.rating {
    color: rgb(255, 128, 0);
    font-weight: bold;
    padding-left: 12px;
}

.takeaway {

    background-color: white;
    height: 120px;
    width: 100px;
    bottom: 65px;
    left: calc(50vw - 208.5px);
    border-radius: 50%;
    position: relative;
}

.takeawayDiv {
    height: 150px;
}

.mainImg {
    height: 150px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.mainSection {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* flex: 1; */
}

.tabDiv {
    background-color: rgb(247, 246, 241);
    color: rgb(128, 131, 137);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    padding: 12px;
}

.arrow {
    height: 24px;
    width: 24px;
}

.menuButton {
    cursor: pointer;
}

.menuDiv {
    padding: 10px;
    /* height: 100vh; */
    overflow-x: visible;
}

.menuElement {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    gap: 16px;
    border: 1px solid rgb(230, 230, 230);
    justify-content: space-between;
}

.menuTitle {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 16px;
    gap: 12px
}

.addIcon {
    height: 28px;
    width: 28px;
    padding: 5px;
    border: 1px solid rgb(230, 230, 230);
    border-width: 0px 0px 1px 1px;
    position: sticky;
    top: 0;
}

.shoppingKart {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
    box-shadow: 0px 0px 16px rgb(230, 230, 230);
}

.deliveryDiv {
    display: flex;
    width: 100%;
    height: 50px;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}

.deliveryButton {
    width: 134px;
}

.sumDiv {
    display: flex;
    width: 100%;
    height: 50px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.shoppingKartSum {
    display: flex;
    width: 100%;
    height: 30px;
    font-size: 14px;
    font-weight: normal;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

.kartElement {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 16px;
    border: 1px solid rgb(230, 230, 230);
    justify-content: space-between;
    padding: 8px 0;
}

.kartItemTitle {
    font-weight: normal;
    padding: 0 16px;
}

.footerDiv {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}