.headerDiv {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerNavDiv {
    display: flex;
    font-size: 20px;
    gap: 16px;
}

.headerNavDiv a {
    color: white;
}

.h1White {
    color: white;
}

.burgermenu {
    height: 40px;
    width: 40px;
    padding: 5px;
}

.burgermenu:hover {
    cursor: pointer;
    border: 2px solid rgb(230, 230, 230);
    border-radius: 50%;
}

/* burgermenu */
.respMenuClosed {
    transform: translateX(100%);
}

.respMenuBox {
    display: none;
}

.leftSection {
    display: flex;
    flex-direction: column;
    overflow-x: visible;
    flex-grow: 1;
}

.headerImg {
    height: 150px;
    background-image: url('../assets/img/noodleSoup.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.leftSectionHeader {
    display: flex;
    flex-direction: column;
}

.h1Header {
    padding-left: 12px;
    padding-bottom: 10px;
}

.rating {
    color: rgb(255, 128, 0);
    font-weight: bold;
    padding-left: 12px;
    padding-bottom: 8px;
}

.takeawayImg {
    background-color: white;
    height: 90px;
    width: 75px;
    border-radius: 50%;
    position: relative;
    z-index: 2 !important;
    right: calc(50% - 35px);
}

.takeaway {
    height: 1px;
    width: 100px;
    border-radius: 50%;
    top: 165px;
}

.takeawayDiv {
    width: 100%;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    bottom: 40px;
}

.takeAwayDivHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 40px;
}

.mainImg {
    height: 150px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.mainSection {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.tabDiv {
    background-color: rgb(247, 246, 241);
    color: rgb(128, 131, 137);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    padding: 12px;
}

.arrow {
    height: 24px;
    width: 24px;
}

.menuButton {
    text-decoration: none;
    cursor: pointer;
}

.menuButton:hover,
.activeLink {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 8px;
    color: rgb(255, 128, 0);
}

.menuDiv {
    padding: 10px;
    overflow-x: visible;
}

.menuElement {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    gap: 16px;
    border: 1px solid rgb(230, 230, 230);
    justify-content: space-between;
    cursor: pointer;
}

.menuElement:hover {
    background-color: rgba(255, 128, 0, 0.094);
}

.menuTitle {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 16px;
    gap: 12px
}

.addIcon {
    height: 28px;
    width: 28px;
    padding: 5px;
    border: 1px solid rgb(230, 230, 230);
    border-width: 0px 0px 1px 1px;
    position: relative;
    top: 0;
    cursor: pointer;
}

.addIcon:hover {
    border: 2px solid rgb(255, 128, 0);
}

.buttonActive {
    filter: drop-shadow(0px 0px 4px rgb(255, 128, 0));
}

.shoppingKart {
    width: 300px;

    padding-top: 16px;
    box-shadow: 0px 0px 16px rgb(230, 230, 230);
}

.shoppingKartInlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
}

.deliveryDiv {
    display: flex;
    width: 100%;
    height: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.deliveryButton {
    width: 134px;
    cursor: pointer;
}

.deliveryButton:hover,
.activeButton {
    width: 134px;
    background-color: rgb(255, 128, 0);
}

.deliveryButton:hover {
    background-color: rgba(255, 128, 0, 0.094);
}

.sumDiv {
    display: flex;
    width: 100%;
    height: 50px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.shoppingKartSum {
    display: flex;
    width: 100%;
    height: 30px;
    font-size: 14px;
    font-weight: normal;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

.kartElement {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 16px;
    border: 1px solid rgb(230, 230, 230);
    justify-content: space-between;
    padding: 8px 0;
    max-height: 400px;
    overflow-y: auto;
}

.kartItemTitle {
    font-weight: normal;
    padding: 0 16px;
}

.footerDiv {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.footerLeft {
    display: flex;
    align-items: center;
    height: 100%;
    color: white;
    gap: 10px;
}

.footerLeft a {
    color: white;
}

.footerLeft a:hover {
    color: rgb(255, 128, 0);
}

.footerIcons {
    height: 40px;
    width: 40px;
}

.footerIcons:hover {
    filter: drop-shadow(0px 0px 5px rgb(255, 128, 0));
}

.footerNav {
    display: flex;
    gap: 10px;
}

/* burgermenu */

.burgerMobile {
    display: none;
}

.respMenuClosed {
    display: none;
    transform: translateX(100%);
}

.respMenuBox {
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 0;
    background-color: white;
    color: black;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 200px;
    transition: all 250ms ease-in-out;
}

.respBasket {
    display: none;
}

.respbasketActive {
    font-Size: 20px;
    font-weight: bold;
    background-color: blue;
    color: white;
    display: flex;
    position: sticky;
    top: 0;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-radius: 10px;
    margin: 8px;
}

.respBasketClose {
    display: none;
    bottom: 0;
}

.shoppingKartOpen {
    position: fixed;
    right: -8px;
    background-color: white;
    width: 100%;
    display: flex;
    z-index: 3;
    margin-right: 8px;
    top: 38px;
    bottom: 0;
}

.shoppingKartInlayOpen {
    display: flex;
    width: 100%;
    z-index: 2;
    flex-direction: column;
    align-items: center;
}

.placeholderDiv {
    display: flex;
    margin: 16px;
    padding: 16px;
    text-align: center;
    border: 1px solid #000000;
}

.placeholderClosed {
    display: none;
}

.dataSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 8px;
    padding: 16px;
    word-break: break-word;
}

.overlay {
    display: flex;
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 4;
    cursor: pointer;
    align-content: center;
    justify-content: center;

}

.overlayInlet {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 16px;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 900px) {
    .headerNavDiv {
        display: none;
    }

    .respMenuBox {
        display: flex;
    }

    .respMenuClosed {
        display: flex;
        transform: translateX(100%);
    }

    .burgerMobile {
        display: flex;
    }

    .burgerMenuTable {
        text-align: center;
        font-size: 20px;
        padding: 10px 0;
        background-color: rgba(255, 128, 0, 0.094);
        color: black;
    }

    .burgerMenuTable:hover {
        color: rgb(255, 128, 0);
    }

    .shoppingKart {
        transform: translateX(100%);
        display: none;
    }

    .shoppingKartInlay {
        transform: translateX(100%);
    }

    .respBasket {
        width: 100%;
        font-Size: 20px;
        font-weight: bold;
        background-color: blue;
        color: white;
        display: flex;
        position: sticky;
        align-content: center;
        justify-content: center;
        align-items: center;
        padding: 16px;
        z-index: 6;
        bottom: 0px;
        border: 8px solid white;
    }

    .respBasketTop {
        width: 100%;
        font-Size: 20px;
        font-weight: bold;
        background-color: blue;
        color: white;
        display: flex;
        position: fixed;
        align-content: center;
        justify-content: center;
        align-items: center;
        padding: 16px;
        z-index: 4;
        top: 0px;
        border: 8px solid white;
    }
}

@media (max-width: 900px) {
    .takeawayDiv {
        height: 120px;
    }

    .takeAwayDivHeader {
        width: 100%;
        display: flex;
        top: 50px;
        align-items: center;
        left: 30px;
    }

    .leftSection a {
        display: flex;
        justify-content: center;
        padding-left: 0px;
        position: relative;
        top: -20px;
    }

    h3 {
        font-size: 16px;
    }

    .arrow {
        height: 20px;
        width: 20px;
    }

    .tabDiv {
        gap: 12px;
    }

    .footerDiv {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}